<!-- <table mat-table [dataSource]="users">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> Naam </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>
  <ng-container matColumnDef="userSurname">
    <th mat-header-cell *matHeaderCellDef> Achternaam </th>
    <td mat-cell *matCellDef="let user"> {{user.surname}} </td>
  </ng-container>
</table> -->

<app-user-table></app-user-table>
