.graph {
  height: 60%;
  width: 95%;
  margin: 1% auto;
}

.presence {
  height: 100%; //80%;
  width: 40%; //95%;
  margin: 1% auto;
}

.presence-page {
  height: 100%;
}

.graph-div {
  height: 50%;
}

.presence-div {
  height: 80%;
}

.user {
  background-color: #13a24b;
}

.card {
  background-color: #f44336;
}

.presence>mat-card-title {
  text-align: center;
  font-size: 60px;
}
