.presence {
  height: 60%;
  width: 95%;
  margin: 1% auto;
  padding: 10px;
}

.graph {
  height: 100%;
  width: 100%;
  margin: 1% auto;
  position: relative
}

.userlist {
  height: 100%;
  width: 100%;
  margin: 1% auto;
  position: relative
}

ul {
  padding: 0;
  list-style-type: none;
}

mat-card-title{
  text-align: center;
}

.popup {
  height: 100%; //80%;
  width: 40%; //95%;
  margin: 5% auto;
}

.user {
  background-color: #13a24b;
}

.card {
  background-color: #f44336;
}

.popup>mat-card-title {
  text-align: center;
  font-size: 60px;
}
