<section class="presence-page">
  <div class="graph-div">
    <mat-card class="graph">
      <mat-card-title> Aanwezigheden </mat-card-title>
      <div *ngIf="chartData && chartLabels">
        <canvas baseChart width="400" height="250" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels"
          [options]="chartOptions" [legend]="false">
        </canvas>
      </div>
    </mat-card>
  </div>
  <div class="presence-div">
    <div *ngIf="username">
      <mat-card class="presence user">
        <mat-card-title>
          Dag {{username}}!
        </mat-card-title>
      </mat-card>
    </div>
    <div *ngIf="card">
      <mat-card class="presence card">
        <mat-card-title>
          ongekend
        </mat-card-title>
      </mat-card>
    </div>
  </div>
</section>
