/* You can add global styles to this file, and also import other style files */
@import './assets/scss/eflmanagement-app-theme.scss';

//fix margins: https://stackoverflow.com/questions/51258963/angular-material-navigation-bar-not-aligned
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

