.sidenav-container {
  height: 100%;
}

.content {
  height: calc(100% - 64px);
  top: 64px;
}

.sidenav {
  width: 200px;
}

// .header {
//   float: top;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
